* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background: url(../img/background-purple.png);
  animation: scroll-background 5s linear infinite;
}
/*Animation scroll background space*/
@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}
h1 {
  text-align: center;
  font-size: 350%;
  margin: 3px;
}

.wrap {
  background: url(../img/background-blue.png);
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 800px;
  animation: scroll-background 5s linear infinite;

}
/*Animation scroll background space*/
@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.wrap div {
  flex-grow: 1;
  height: calc(100% / 13);
  width: calc(100% / 13);
 
}

.wrap div.player {
  content: url(../img/player2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/*Effect to move my player image*/
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
/*Effect to move the image*/
.wrap div.player{
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}




.wrap div.aliens{
  content: url(../img/space-invaders.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap div.missiles {
  background-image: url(../img/missile-blue-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap div.bomb {
  background-image: url(../img/bomb.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.second_screen .welcome_screen {
  font-family: 'Space Mono', monospace;
  width: 1400px;
  height: 600px;
  background-image: url(../img/background-purple.png);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border: 10px 	#9370DB solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  animation: scroll-background 5s linear infinite;
  transform: translate(-50%, -50%);
}
/*Animation scroll background space*/
@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.second_screen.hide {
  display: none;
}

.show-final-score {
  display: none;
}

.show-final-score.show {
  display: block;
  font-size: 150%;
  margin: 1rem 0;
}

.button {
  text-align: center;
  width: 100%;
  height: 200px;
  margin: 2rem 0;
}

.button button {
  font-family: 'Space Mono', monospace;
  font-size: 150%;
  text-transform: uppercase;
  color: #000000;
  padding: 0.5rem 0.8rem;
  background: #9370DB;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  width: 120px;
  height: 50px;
}

.button button:hover {
  box-shadow: 6px 18px 18px grey;
}

.button button:focus {
  outline: 0;
}

.button button.hide {
  opacity: 0;
}


.score {
  display: inline-block;
  font-size: 140%;
  background:#7A378B;
  padding: 1.0rem 1.0rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #9F5F9F;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.score.add {
  background:#ECC8EC;
  color: #7A378B;
  transform: scale(1.3);
  opacity: 0.9;
}

/*Effect to move the image*/
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
/*Effect to move the image*/
.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.interface {
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-bar {
  margin-left: 60px;
}

.live {
  font-family: 'Space Mono', monospace;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 60px;
  display: inline-block;
  font-size: 170%;
  background:#7A378B;
  padding: 1.0rem 1.0rem;
  border-radius: 8px;
  box-shadow: 9px 9px 9px #9F5F9F;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}
